.header-past-train {
  display: flex;
  justify-content: space-between;
}
.past-train-page-wrapper {
  display: flex;
  justify-content: space-between;
}

.past-train-page-wrapper__content {
  width: 75%;
}

.past-train-page__button-back {
  display: block;
  margin: 20px auto;
  height: 50px;
  background-color: #fff;
  border: 1px solid #4285f4;
  border-radius: 5px;
}

.past-train-page__button-back:hover {
  color: #4285f4;
  cursor: pointer;
}

.past-train-page__link-back {
  text-decoration: none;
}

.past-train-page {
  width: 100%;
  box-sizing: border-box;
}
.past-train-page__title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 20px;
}
.past-train-page__item {
  display: flex;
  align-items: baseline;
}
.past-train-page__item-title {
  width: 55%;
}
.past-train-page__item-property {
  display: flex;
  align-items: baseline;
  margin-right: 30px;
}
.past-train-page__comment {
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  height: 50px;
  font-size: 12px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .past-train-page__item-title {
    width: 60%;
    font-size: 12px;
    margin-right: 5px;
  }
  .past-train-page__item-property {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    margin-right: 10px;
    width: 40%;
  }
  .past-train-page-wrapper__content {
    width: 100%;
  }
  .past-train-page-wrapper {
    margin: 70px 5px 0;
  }
  .past-train-page {
    min-height: 100vh;
    height: 100%;
  }
}
