.history-page {
  width: 100%;
  box-sizing: border-box;
}

.history-page__title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 20px;
}

.history-page__trains {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.history-page-wrapper {
  display: flex;
  justify-content: space-between;
}

.history-page__trains-link {
  text-decoration: none;
  color: black;
}

.history-page-wrapper__content {
  width: 75%;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .history-page {
    min-height: 100vh;
  }

  .history-page-wrapper__content {
    width: 100%;
    margin: 70px 5px 0;
  }

  .history-page__trains {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  .history-page__title {
    font-size: 14px;
  }
}
