.bread-crumbs {
  width: 100%;
  margin-bottom: 20px;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.MuiTypography-body1 {
  font-size: 12px !important;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .bread-crumbs {
    display: none;
  }
}
