.exercises {
  z-index: 1;
  height: 400px;
}

.exercises-list-item {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

.exercises-list-item__exercise-title {
  text-align: center;
  width: 50%;
  padding: 5px 0;
}

.exercises-list-item__exercise-title {
  text-align: left;
}

.exercises-list-item__exercise-category {
  text-align: center;
  width: 30%;
  padding: 5px 0;
}

.exercises-list-item__exercise-category {
  text-align: left;
}
