.exercises-header {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.exercises-header-item__exercise-title {
  text-align: center;
  width: 50%;
}

.exercises-header-item__exercise-remove {
  width: 5%;
}

.exercises-header-item__exercise-remove-btn {
  background-color: #fff;
  opacity: 0.5;
  border: none;
}

.exercises-header-item__exercise-remove-btn:hover {
  cursor: pointer;
  opacity: 1;
  color: #4285f4;
}

.exercises-header-item__exercise-search-btn {
  background-color: #fff;
  outline: none;
  border: none;
}

.exercises-header-item__exercise-search-btn:hover,
.exercises-header-item__exercise-title:hover,
.exercises-header-item__exercise-category:hover {
  cursor: pointer;
  color: #4285f4;
}

.exercises-header-item__exercise-title,
.exercises-header-item__exercise-category {
  display: flex;
  justify-content: center;
}

.exercises-header-item__exercise-category {
  text-align: center;
  width: 30%;
}
