.create-categories {
  margin-top: 30px;
  position: relative;
  width: 100%;
}

.create-categories__input {
  display: block !important;
  margin: 0 auto 20px !important;
  width: 40% !important;
  box-sizing: border-box;
}

.create-categories__button {
  display: block !important;
  margin: 20px auto !important;
  width: 50%;
}

.create-exercise {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.create-exercise-drop-down {
  width: 35%;
}

.select-test-option:active {
  color: #4285f4;
}

.create-exercise-properties {
  height: 250px;
  padding: 0 5px;
}

.create-exercise-properties__item {
  display: flex;
  flex-direction: column;
}

.create-exercise-properties__item-title {
  display: block;
  padding: 5px 0;
}

.create-exercise-properties__item-input {
  display: block;
  margin-top: 10px !important;
  width: 100%;
}

.create-exercise-properties__item-text-area {
  resize: none;
  display: block;
  height: 100px;
  border: 1px solid #ababab;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.create-exercise-properties_submit {
  display: block;
  margin: 20px auto 0 !important;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #4285f4;
  border-radius: 5px;
  outline: none;
}

.create-exercise-properties__item-settings {
  display: flex;
  justify-content: space-between;
}

.create-exercise-properties__item-checkbox {
  margin-top: 10px;
}

.create-exercise-properties__wrapper {
  width: 60% !important;
}

.MuiPaper-root {
  top: 350px !important;
}

.MuiFormControl-root {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .create-categories__input {
    width: 50% !important;
    margin: 0 auto !important;
  }
}
