@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb;
  padding: 10px 20px;
}

.app {
  max-width: 600px;
  min-height: 600px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 10px 60px;
  box-shadow: -1px 6px 28px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
}

.header a {
  text-decoration: none;
}

.header__title {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0 0 50px;
  text-decoration: none;
  color: #4285f4;
}

.logout {
  position: relative;
  top: -120px;
  /* top: 25px; */
  /* left: 950px; */
  float: right;
  /* position: absolute; */
}

.logout-btn {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #4285f4;
  border-radius: 5px;
}

.logout-btn:hover {
  color: #4285f4;
  cursor: pointer;
}
